::after,
::before{
    box-sizing: border-box;
}

html, body{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #171618;
    color: #ffffff;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul{
    padding-left: 0;
}

ul.li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

button, input{
    outline: none;
    border: none;
    cursor: pointer;
}

.header{
    grid-area: my-header;
    box-shadow: 0 0.4rem 1rem rgba(255, 255, 255, 0.07);

}

.aside{
    grid-area: my-aside;
}

.main{
    grid-area: my-main;
}

.grid{
    display: grid;
    gap: 3rem 0;
    grid-template-areas: 
    "my-header my-header my-header"
    "my-aside my-main my-main"
    "my-aside my-main my-main";
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.grid-init{
    width: 144rem;
    margin: auto;
    padding: 3rem 2.4rem 4rem;
}

.header__wrap{
    display: flex;
    align-items: center;
}

.header__logo{
    font-size: 6.4rem;
    margin-right: 7rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 117%;
}

.header__nav{
    margin-right: 9.2rem;
    font-weight: 500;
}

.header__nav a{
    font-size: 2.4rem;
    line-height: 117%;
}

.header__nav a:not(:last-child){
    margin-right: 2.5em;
}

.header__fint{
    display: flex;
    width: 33rem;
    height: 4.1rem;
    border-radius: 0.8rem;
    margin-right: 4rem; 
}

.header__fint input{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08) url('../img/search.svg') no-repeat;
    background-position: top 50% right 1.5rem;
    border-radius: 0.8rem;
    background-size: 2rem;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 4rem;
    color: #ffffff;
    line-height: 115%;
}

.header__fint input::placeholder{
    color: #ffffff;
    font-size: 2rem;
    line-height: 115%;
}

.header__date{
    text-align: center;
    margin-right: 8.6rem;
}

.header__hour{
    font-size: 2rem;
    line-height: 115%;
}

.header__days{
    font-size: 1.2rem;
    line-height: 117%;
}

.header__repsonal{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.main{
    margin-top: 5rem;
}

.main-display_trailer{
    width: auto;
    height: 20.2rem;
    border-radius: 1.6rem;
    background: rgba(0, 0, 0, 0.4) url('../img/trailer-prebiew.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1.9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.main-display_views{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 119%;
    z-index: 1;
}

.main-display_name{
    position: relative;
    z-index: 1;
}

.main-display_header{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 117%;
    margin-bottom: 0.5rem;
}

.main-display_date{
    font-weight: 700;
    line-height: 114%;
    font-size: 1.4rem;
}

.button-play_wrap{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.1rem;
    height: 8.1rem;
    background: rgb(255 255 255 / 30%);
    border-radius: 50%;
}

.button-play{
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-left: 2.5rem solid #ffffff;
    border-bottom: 1.5rem solid transparent;
    border-radius: 0.2rem;
}

.button-play:hover{
    cursor: pointer;
}

.title{
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 0;
}

.title_left, .title_right{
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 115%;
}

.title_main{
    margin-right: 2rem;
    font-size: 2rem;
}

.title_count{
    color: rgba(255, 255, 255, 0.2);
    font-size: 2rem;
}

.title_right span{
    font-size: 1.4rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.2);
}

.title_right img{
    width: 2rem;
    height: 1.6rem;
    margin-left: 0.4rem;
}

.trending{
    display: flex;
    justify-content: space-between;
}

.trending_item{
    display: flex;
    align-items: flex-end;
    width: calc(50% - 3rem);
    height: 25.1rem;
    border-radius: 1.6rem;
    background-image: url('../img/traiding-item-back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
}

.trending_plush{
    position: absolute;
    z-index: 1;
    top: 1.9rem;
    left: 1.9rem;
    font-size: 1.4rem;
    line-height: 114%;
    background: rgb(255 255 255 / 20%);
    border-radius: 1.6rem;
    padding: .4rem 1.3rem;
}

.trending_footer{
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 1rem;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 1.8rem 1rem 1.8rem 6.4rem;
    background: rgb(80 80 80 / 62%);
    border-radius: 1.6rem;
}

.trending_footer-left{}

.button-play_wrap.small .button-play{
    border-top: 1rem solid transparent;
    border-left: 1.5rem solid #ffffff;
    border-bottom: 1rem solid transparent;
}

.small{
    width: 5rem;
    height: 5rem;
    left: 7%;
}

.trending_header{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
}

.trending_date{
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.trending_time{
    font-size: 1.4rem;
    line-height: 114%;
    color: #000000;
    background: #ffffff;
    padding: 0.4rem 1.3rem;
    border-radius: 1.6rem
}

.popular{
    display: flex;
    justify-content: space-between;
    border-radius: 1.6rem;
}

.popular_item{
    display: flex;
    align-items: flex-end;
    width: calc(33% - 3.3rem);
    height: 19.2rem;
    border-radius: 1.6rem;
    background-image: url('../img/popular.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
}

.popular_footer{
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 1rem;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 1.8rem 1rem 1.8rem 6.4rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1.6rem;
}

.button-play_wrap.small-plus .button-play{
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-left: 1rem solid #ffffff;
    border-bottom: 0.5rem solid transparent;
    margin-left: 0.2rem;
}

.small-plus{
    width: 3rem;
    height: 3rem;
    left: 10%;
}

.popular_header{
    font-weight: 700;
    font-size: 1rem;
    line-height: 117%;
}

.popular_date{
    font-size: 0.8rem;
    line-height: 112%;
    font-weight: 700;
}

.popular_rating{
    display: flex;
}

.popular_rating img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
}

.popular_rating span{
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.aside-item::after, .popular_item::after, .trending_item::after, .main-display_trailer::after{
    content: '';
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    inset: 0;
    z-index: 0;
    border-radius: 1.6rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.popular_item, .trending_item, .main-display_trailer{
    z-index: 1;
}

.aside{
    position: relative;
    padding-top: 5rem;
    margin-right: 3.5rem;
    /* background-color: rgba(255, 255, 255, 0.02); */
}

.aside::after{
    content: '';
    width: 2.2rem;
    height: 2.6rem;
    background-color: #FCFCFE;
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.8rem 1.3rem;
    border-radius: 2rem;
    position: absolute;
    top: 10.7rem;
    right: -1.1rem;
}

.aside_wrap{
    margin-left: -2.5rem;
}

.aside_top{
    padding: 0 2.5rem 4rem 2.4rem;
    background: #171618;
    border-right: 1px solid #1C1B1F;
}

.aside_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6rem;
}

.aside_header{
    font-size: 2rem;
    line-height: 115%;
}

.aside_sort{
    font-size: 1.4rem;
    line-height: 117%;
    display: flex;
}

.aside_sort-text span:first-child{
    color: rgba(255, 255, 255, 0.4);
    margin-right: 1.5rem;
}

.aside_sort-select{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.aside_sort-select img{
    margin-left: 0.3rem;
    cursor: pointer;
    width: 0.7rem;
    height: 0.7rem;
}

.aside_sort-select img:first-child{
    margin-bottom: 0.2rem;
}

.aside-item{
    position: relative;
    z-index: 1;
    width: auto;
    height: 22.6rem;
    background-image: url('../img/film-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.9rem;
}

.aside-item:nth-child(2){
    margin-bottom: 3rem;
}

.aside_views{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
    position: relative;
    z-index: 1;
}

.aside_footer{
    position: relative;
    z-index: 1;
}

.aside_item-name{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 117%;
    margin-bottom: 0.5rem;
}

.aside_item-date{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}

.aside_bottom{
    padding-left: 2.4rem;
    background-color: rgba(255, 255, 255, 0.02);
}

.aside_favourite_text{
    padding-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 20px;
    line-height: 115%;
}

.aside_genre-items{
    display: flex;
    flex-wrap: wrap;
    padding-right: 10rem;
    position: relative;
}

.aside_genre{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    line-height: 117%;
    margin-right: 3rem;
    margin-bottom: 2rem;
    border-radius: 3rem;
}

.aside_genre.perple{
    background: #8066F6;
}

.aside_genre.orange{
    background: #E1784F;
}

.aside_genre.green{
    background: #63CFE1;
    margin-bottom: 3rem;
}

.aside_genre.gray{
    background: #2B2A2F;
}

.aside_genre-items::after{
    content: '';
    position: absolute;
    width: 6.5rem;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    left: 0;
    bottom: 0;
}

.aside_add{
    display: flex;
    font-size: 1.4rem;
    line-height: 114%;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.add-round{
    padding: 0 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    background: #2B2A2F;
}

.aside_footer_genre-items{
    display: flex;
    padding-bottom: 4rem;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,.5);
    padding: 3rem 0;
    z-index: 100;
    display: none;
}

.modal_inner{
    width: 100rem;
    height: 60rem;
}

.active{
    display: flex;
}

/* Сетка */
@media (max-width: 108em){
    html{
        font-size: 9px;
    }
}

@media (max-width: 105em){
    html{
        font-size: 8.75px;
    }
}

@media (max-width: 91.5em){
    html{
        font-size: 7.9px;
    }
}

@media (max-width: 91em){
    html{
        font-size: 8.4px;
    }
}

@media (max-width: 90em){
    html{
        font-size: 7.9px;
    }
}

@media (max-width: 80em){
    html{
        font-size: 7.2px;
    }
}

@media (max-width: 72em){
    html{
        font-size: 6.5px;
    }
}

@media (max-width: 64em){
    html{
        font-size: 5.5px;
    }
}

@media (max-width: 48em){
    html{
        font-size: 10px;
    }
}

@media (max-width: 44em){
    html{
        font-size: 9px;
    }
}

@media (max-width: 38em){
    html{
        font-size: 8px;
    }
}

@media (max-width: 34em){
    html{
        font-size: 7px;
    }
}

@media (max-width: 30em){
    html{
        font-size: 6px;
    }
}

@media (max-width: 26em){
    html{
        font-size: 4.5px;
    }
}

@media (max-width: 21em){
    html{
        font-size: 4.4px;
    }
}

/* Сетка */